body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.flex-item {
  display: flex;
  margin-bottom: 100px;
}
.navbar {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  width: 54%;
  margin: 0 auto;
  padding-left: 0;
}
ul li {
  list-style: none;
  padding: 10px 40px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 700;
}
ul li a:hover {
  color: crimson;
}
.healthy-info {
  width: 50%;
  padding-left: 50px;
}
.healthy-info img {
  width: 90%;
}
h1 {
  font-size: 60px;
  color: #575757;
}
span {
  color: coral;
}
p {
  line-height: 26px;
}
.link-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  display: inline-block;
  margin-top: 30px;
}
#about {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-info {
  width: 50%;
  padding-left: 120px;
}
.about-info img {
  width: 57%;
  height: 85%;
  margin-top: 85px;
  margin-left: 55px;
}
.about-info h2 {
  margin-top: 150px;
  color: #575757;
  font-size: 36px;
}
.about-info p {
  padding-right: 150px;
}
