body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.flex-item {
  display: flex;
  margin-bottom: 100px;
}
.navbar {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
}
.navbar ul {
  width: 54%;
  margin: 0 auto;
  padding-left: 0;
}
ul li {
  list-style: none;
  padding: 10px 40px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 700;
}
ul li a:hover {
  color: crimson;
}
.healthy-info {
  width: 50%;
  padding-left: 50px;
}
.healthy-info img {
  width: 95%;
}
h1 {
  font-size: 60px;
  color: #575757;
}
span {
  color: coral;
}
p {
  line-height: 26px;
}
.link-button {
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #fba24f, #ff1e1e);
  display: inline-block;
  margin-top: 30px;
}
#about {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-info {
  width: 50%;
  padding-left: 10%;
}
.about-info img {
  width: 75%;
  height: 100%;
  margin-left: 18%;
}
.about-info h2 {
  margin-top: 30%;
  color: #575757;
  font-size: 36px;
}
.about-info p {
  padding-right: 25%;
}
.services-info {
  text-align: center;
}
.info-item {
  width: 50%;
  margin: 0 auto;
}
.info-item h2 {
  color: #575757;
  font-size: 30px;
}
.item {
  width: 24%;
  margin-left: 4.5%;
  padding: 1.5%;
  box-shadow: 3px 3px 15px 3px #888888;
  border-radius: 4%;
}
.item img {
  width: 100%;
}
#contact {
  margin-bottom: 100px;
}
.box {
  display: flex;
  width: 80%;
  box-shadow: 1px 1px 10px 1px #888888;
  margin: 0 auto;
  border-radius: 5px;
}
.box-item {
  width: 15%;
  padding: 20px 30px;
  margin-left: 11%;
}
.box-item h1 {
  color: black;
  font-size: 30px;
  line-height: 0;
}
.box-item p {
  font-size: 14px;
}
footer {
  text-align: center;
  background-color: black;
  padding: 10px 0 40px 0;
}
footer h2 {
  color: #5b5b5b;
}
footer p {
  color: #ffffff;
  font-size: 14px;
}
